@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-grid {
    @apply grid grid-cols-3 gap-8;
  }

  .custom-indent {
    @apply indent-7;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 100%;
  }

  .responsive-home {
    font-size: clamp(0.9rem, 1.1rem, 1.3rem);
    line-height: clamp(0.8rem, 1.4rem, 2rem);
  }

  /* 
  .customLink {
    @apply text-blue-500 font-bold;
  } */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Global CSS */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px; /* Adjust this value to match the height of your fixed NavigationBar */
}

.link a {
  @apply text-blue-500 font-bold;
}

h1 {
  margin: 0px;
  padding: 0px;
}
