@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-grid {
    @apply flex flex-col sm:grid sm:grid-cols-2 lg:grid-cols-3 3xl:grid-cols-4 gap-4 xl:gap-8;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 100%;
  }

  .custom-indent {
    @apply indent-7;
  }

  .responsive-home {
    font-size: clamp(0.9rem, 1.1rem, 1.3rem);
    line-height: clamp(0.8rem, 1.4rem, 2rem);
  }

  /* 
  .customLink {
    @apply text-blue-500 font-bold;
  } */
}

@layer utilities {
  .bg-grain {
    position: relative;
    background-color: inherit;
  }
  .bg-grain::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/wkAAwAB/yrA0bYAAAAASUVORK5CYII=");
    opacity: 0.1; /* Adjust the grain visibility */
    pointer-events: none;
    z-index: 1;
  }

  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Global CSS */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px; /* Adjust this value to match the height of your fixed NavigationBar */
}

.link a {
  @apply text-blue-500 font-bold;
}

h1 {
  margin: 0px;
  padding: 0px;
}
